<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <script src="js/script.js"></script> 
    <title>Exemplo de projeto Node, Express e EJS.</title>
</head>
<body>
    <figure>
        <img class="img-centralizada-pequena" src="img/bandeira_brasil.jpg" />
        <figcaption class="img-rotulo-centralizado">Bandeira do <%= pais %></figcaption>
    </figure>
    <button class="botao-centralizado-verde" id="bot_01">Clique aqui</button>
    <div class="div-vazia-centralizada" id="div_01"></div>
    
</body>
</html>