<%# A linha abaixo carrega no template o conteúdo total do arquivo header.ejs%>
<%-include('base_header') -%>
<form action="adicionarProjeto" method="post">
        Título do projeto: <input name=titulo type="text" value="Título projeto"/><br/>
        Tipo: <input type="text" name=tipo value="Tipo do projeto"/><br/>
        Tecnologia: <input type="text" name=tecnologia value="Tecnologia"/><br/>
        Inicio: <input type="text" name=inicio value="data início"/><br/>
        Fim: <input type="text" name=fim value="data fim"/><br/>
        <input type="submit" />        
    </form>
 
</body>
<%# A linha abaixo carrega no template o conteúdo total do arquivo footer.ejs %>
<%- include('base_footer') -%>